
.roads-container {
    background-color: #D2A679;
    padding: 20px;
    text-align: center;
  }
  
  .roads-title {
    font-size: 2.0em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
  }
  